<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="IsEncryption" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="8/XcSSkH1X69f+pbRxJd08aB09hZU1eUcxzKmhL8D20nH0kORW+YT70HzURi3aEpgK86X46tyilAslfd43n2ICb4GlIROX9441JO5VJZMkRO4FltmIPaEgSEoZrCC9I5"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
