<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="IsEncryption" value="true"/>
    <add key="IsRights" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="AP2oueJUx4DtHWZuOnEowGkO4IzWscoexPfl0iiNMPBj9YFXnqJ6Ibg9Au/U5VUDuvzEfpnpYMI4QTwHMtWfbzi4supcFaLxmPx55C+aeTHf903sVitNXb8CfW9W9v+s"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
